#notice-board {
  position: fixed;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: bold;
}
.container {
  padding-top: 75px;
}
tbody tr:hover {
  cursor: pointer;
  box-shadow: 0 0 15px gray;
}
